body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
}

video{
  width: 100%;
  height: auto;
}

body{
  text-align: center;
  padding-top: 20px;
}

::-webkit-scrollbar { width: 0px; }

.window-title{
  font-size: larger;
}

video{
  width: 90%;
  padding-top: 0%;
}

.cont{
  margin-top: 2px;
  /* height: 30px; */
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

hr{
  margin: 0;
}
